@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center mt-4">
    <br/>
    <br/>
    <div class="mb-5">
        <h2>SHAME</h2>
        <div class="ratio ratio-16x9">
            <iframe src="https://www.youtube.com/embed/0mtOnGEon5g?si=gGcUMEQ0-VqsGjjH"
                    title="YouTube video player"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
        </div>
    </div>

    <div class="mb-5">
        <h2>DAMS16</h2>
        <div class="ratio ratio-16x9">
            <iframe src="https://www.youtube.com/embed/GkXt5Lvq2jc?si=Jy4twxwnFD9Pu8XE" 
                    title="YouTube video player"  
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                    allowfullscreen></iframe>        
        </div>
    </div>

    <div class="mb-5">
        <h2>Alone</h2>
        <div class="ratio ratio-16x9">
            <iframe src="https://www.youtube.com/embed/P8hpnjseRDQ?si=tgU0lC54Q9W4ngTh"
                    title="YouTube video player"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
        </div>
    </div>

    <div class="mb-5">
        <h2>Dreux Vibes</h2>
        <div class="ratio ratio-16x9">
            <iframe src="https://www.youtube.com/embed/lf6F53YZFPo?si=gVvWGLXRUH0B9JL2"
                    title="YouTube video player"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
        </div>
    </div>

    <div class="mb-5">
        <h2>Its My Time</h2>
        <div class="ratio ratio-16x9">
            <iframe src="https://www.youtube.com/embed/Ij5bwxIJ0AY?si=euRxLQrfQsrct1eY"
                    title="YouTube video player"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
        </div>
    </div>

    <div class="mb-5">
        <h2>Parissy</h2>
        <div class="ratio ratio-16x9">
            <iframe src="https://www.youtube.com/embed/756z90Dfp8I?si=SwnXYxv9-eXopU3H"
                    title="YouTube video player"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
        </div>
    </div>

    <div class="mb-5">
        <h2>KOLD</h2>
        <div class="ratio ratio-16x9">
            <iframe src="https://www.youtube.com/embed/wV1lRdTTwWg?si=__iJ6ikY5uwtVp3f"
                    title="YouTube video player"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
        </div>
    </div>
    
</div>
